        <!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">İsmail Can Karataş</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Panel</a>
            <a href="/Default/Index" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Siteye Git</a>
            <a href="/Category/Index" class="nav-item nav-link"><i class="fa fa-list me-2"></i>Kategoriler</a>
            <a href="/Employee/Index" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Personeller</a>
            <a href="/Product/Index" class="nav-item nav-link"><i class="fa fa-list me-2"></i>İlanlar</a>
            <a href="/Charts/Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Grafikler</a>
            <a href="/Statistics/Index" class="nav-item nav-link"><i class="fa fa-chart-line me-2"></i>İstatislikler</a>
            <a href="https://localhost:44372/swagger/index.html" class="nav-item nav-link"><i class="fa fa-rocket me-2"></i>Apiler</a>
            <a href="/Settings/Index" class="nav-item nav-link"><i class="fa fa-hammer me-2"></i>Ayarlar</a>
            <a href="/Profil/Index" class="nav-item nav-link"><i class="fa fa-arrow-right me-2"></i>Çıkış</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->