 @model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4 text-center">Kategori Ekle</h6>
                <form method="post">
                    <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori İsmi">
                    <label for="CategoryName">Kategori İsmi</label>
                    </div>
                        <button type="submit" class="btn btn-primary w-100 mb-4">Kategori Oluştur</button>
                </form>
            </div>
        </div>
</div>